header {
    height: 300px;
    width: 300px;
    background-color: rgb(114, 114, 170);
}
main {
    height: 300px;
    width: 300px;
    background-color: chartreuse;
}
footer {
    height: 300px;
    width: 300px;
    background-color: indianred;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
}
div{
    display: grid  ;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
}
p {
    font-size: 1.5 rem;
}
div {
    font-size: 1.5rem;
}
h2{
    font-size: 3em;
}
#tigerimage {
    height: 150px;
    width: 300px;
}
header{
    display: grid  ;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
}